*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 33%;
    height: 33%;
    border: 3px solid rgb(22, 18, 18);
    border-radius: 50px;
}
.navbar{
    display: flex;
}
.nav-list{
    width: 50%;
    /* background-color: rgb(147, 33, 33); */
    display: flex;
    align-items: center;
}
.nav-list li{
    list-style: none;
    padding: 26px 30px;
}
.nav-list li a{
    text-decoration: none;
    color: coral;
}
.nav-list li a:hover{
    color: aqua;
}
.rightNav{
    /* background-color: rgb(23, 5, 5); */
    width: 50%;
    text-align: right;
}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}